
// Blue scaless

$nvy-dark: #011f4b;
$nvy-light:	#03396c;	
$blue:	#005b96;
$blue-main: #336699;	
$teal:	#6497b1;
$sky:	#b3cde0;

// Red scales

$red5:#b62020;
$red4:	#cb2424;
$red3:	#ff4e50;
$red2:#fe5757;
$red1:	#fe8181;
$orange:  #fc913a;
$yellow: #f9d62e;
$orange-yellow: #eae374;
$carne:  	#e2f4c7;

// Grey

$black4: #444444;
$black2: #222222;
$black3: #333333;
$white: #ffffff;

//Green

$green-dark: #27ae60;
$green-light: #2ecc71;

// Grises KPOW

$grey-easy: #333333;
$grey-pepon: #666666;
$grey: #C2C2C2;